.board {
  height: 600px;
  width: 370px;
  border: 2px solid;
  margin: 2%;

  position: relative;
}

@media screen and (max-width:1000px) {
  .board {
    height: 600px;
    width: 90%;
    margin: 5%;
    border: 2px solid;
  }
}

.next-day-button {
  width: 20%;
  height: 8%;
}